<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCHZqyry2ppli8Lso3hySreMAXp_tQhY5I</string>
	<key>GCM_SENDER_ID</key>
	<string>828758637949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>harooks.tinderMock</string>
	<key>PROJECT_ID</key>
	<string>tindermock-ffc58</string>
	<key>STORAGE_BUCKET</key>
	<string>tindermock-ffc58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828758637949:ios:a6e3d5dc11fab6a0816014</string>
</dict>
</plist>